@using BehaviorsOfConcern.Web.Models
@model IncidentListViewModel
@{
    ViewBag.Title = "Edit";
}

<div class="">
    <form class="form-horizontal" id="incidentEditForm">

        <div class="well well-sm row" style="margin-top: 3px;">
            <div class="row">
                <div class="col-xs-2"><h4><b>Incident</b> #<span id="incidentID"></span></h4></div>
                <div class="col-xs-5 text-left"><h4><b>Submitted By</b>&nbsp;&nbsp;<span id="submitter"></span></h4></div>
                <div class="col-xs-5 text-right"><h4><b>On</b>&nbsp;&nbsp;<span id="submittedOn"></span>&nbsp;&nbsp;</h4></div>
            </div>

            <div class="form-group">
                <label for="description" class="control-label col-sm-2">Description</label>
                <div class="col-sm-10 form-control-static"><span id="description"></span></div>
            </div>

            <div class="form-group">
                <label for="reportingSchool" class="control-label col-sm-2">Reporting School</label>
                <div class="col-sm-4 form-control-static"><span id="reportingSchool"></span></div>
                <label for="incidentDate" class="control-label col-sm-3">Date & Time of Incident</label>
                <div class="col-sm-2 form-control-static"><span id="incidentDate"></span></div>

                <div class="col-sm-1" id="correctionSwitch" style="display: none;">
                    <button type="button" class="btn btn-default" data-toggle="tooltip"
                            title="Click to correct Reporting School or Date of Incident" onclick="$('#correctionPanel').toggle();">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group panel panel-info" id="correctionPanel" style="display: none; margin-top: -15px;">
            <div class="panel-heading">Corrections to original report</div>
            <div class="panel-body">
                <label for="correctedReportingSchoolID" class="control-label col-sm-2">Reporting School</label>
                <div class="col-sm-4">
                    <div id="correctedReportingSchool-editable" style="display: none;">
                        @Html.DropDownList("correctedReportingSchoolID",
                            Model.SchoolList.Select(s => new SelectListItem() { Value = s.ID.ToString(), Text = s.Name }),
                            new { @class = "form-control" })
                    </div>
                    <div class="form-control-static" id="correctedReportingSchool-readonly" style="display: none;">
                        <em>(only district admins can correct the reporting school)</em>
                    </div>
                </div>
                <label for="correctedIncidentDate" class="control-label col-sm-3">Date & Time of Incident</label>
                <div class="col-sm-3">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" id="correctedIncidentDate" placeholder="(e.g. Mar 31, 2017 9:47am   or   2017-6-22)" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="concernedParty" class="control-label col-sm-2">Concerned Party</label>
            <div class="col-sm-7">
                <div class='input-group' id='studentPicker'>
                    <input type="text" class="form-control" id="concernedParty" name="concernedParty" placeholder="(please assign a student)" readonly />
                    <div class="input-group-btn">
                        @*<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;Lookup Student</button>*@
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#assignStudentModal"><i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;Lookup Student</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="specificLocation" class="control-label col-sm-2">Specific Location</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="specificLocation" name="specificLocation" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label for="sourceCD" class="control-label col-sm-2">Source</label>
            <div class="col-sm-2">
                @Html.DropDownList("sourceCD",
                    Model.SourceLookups.Select(s => new SelectListItem() { Value = s.Value.ToString(), Text = s.Label }),
                    new { @class = "form-control" })
            </div>
            <label for="reportingParty" class="control-label col-sm-2">Reporting Party</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="reportingParty" name="reportingParty" placeholder="(party reporting the behavior, if different than submitter)">
            </div>
        </div>


        <div class="form-group">
            <label for="categoryCD" class="control-label col-sm-2">Category</label>
            <div class="col-sm-3">
                @Html.DropDownList("categoryCD",
                    Model.IncidentCategoryLookups.Select(s => new SelectListItem() { Value = s.Value.ToString(), Text = s.Label }),
                    new { @class = "form-control" })
            </div>

            <label for="statusCD" class="control-label col-sm-1">Status</label>
            <div class="col-sm-2">
                @Html.DropDownList("statusCD",
                    Model.StatusLookups.Select(s => new SelectListItem() { Value = s.Value.ToString(), Text = s.Label }),
                    new { @class = "form-control" })
            </div>

            <label for="outcomeCD" class="control-label col-sm-1">Outcome</label>
            <div class="col-sm-3">
                @Html.DropDownList("outcomeCD",
                    Model.OutcomeLookups.Select(s => new SelectListItem() { Value = s.Value.ToString(), Text = s.Label }),
                    new { @class = "form-control" })
            </div>
        </div>
        @Html.Hidden("UnknownIncident", Url.Action("UnknownIncident", "Incident"))
    </form>
    <form class="form-horizontal" id="incidentCommentForm">
        <div class="form-group">
            <label for="comment" class="control-label col-sm-2">Administrator<br />Follow-up</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="comment" name="comment" rows="5"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2 text-right">
                <button type="button" class="btn btn-primary btn-sm" style="min-width:10em;" id="addCommentCommand"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add</button>
            </div>
        </div>
        <div class="form-group">
            <label for="incidentHistory" class="control-label col-sm-2">Incident History</label>
            <div class="col-sm-10" id="incidentHistory"></div>
        </div>
    </form>
</div>

@*<p id="debug" style="background-color:lightblue"></p>*@

@Html.Partial("AssignStudentModal", Model)
@section scripts{ @Scripts.Render("~/Scripts/boc-edit.js") }
