@using BehaviorsOfConcern.Web.Models
@using BehaviorsOfConcern.Domain.DomainServices
@model IncidentListViewModel

<form style="margin-top:10px;" id="filterIncidentsForm">
    <div class="panel-group" id="filterPanel">
        <div class="panel panel-info">
            <div class="panel-heading"><strong>School</strong></div>
            <div class="panel-body">
                @Html.DropDownList("filterIncidents-reportingSchoolID",
                    Model.SchoolList.Select(s => new SelectListItem() { Value = s.ID.ToString(), Text = s.Name }),
                    "[All Schools]", new { @class = "form-control" })
            </div>
        </div>
        @FilterGroup("Incident Recency", Model.RecencyIntervalLookups, false, false)
        @FilterGroup("Status", Model.StatusLookups, true, false)
        @FilterGroup("Category", Model.IncidentCategoryLookups, true, true)
        @FilterGroup("Outcome", Model.OutcomeLookups, true, true)
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="button" id="refreshIncidentListCommand">Refresh List</button>
    </div>
</form>


@helper FilterGroup(string heading, IEnumerable<LookupCode> lookups, bool checkBoxPanelYN, bool initiallyHiddenYN) {
string panelID = "filterPanelIncidents-" + heading.Replace(" ", "");
string fieldID = "filterIncidents-" + heading.Replace(" ", "");
string panelType = checkBoxPanelYN ? "checkbox" : "radio";
<div class="panel panel-info">
    <div class="panel-heading boc-addGlyph">
        <h4 class="panel-title"><a data-toggle="collapse" data-target="#@panelID" href="javascript:void(0);"><strong>@heading</strong></a></h4>
    </div>
    <div class="panel-collapse collapse @(initiallyHiddenYN ? "" : "in")" id="@panelID">
        <div class="panel-body">
            @foreach (var luCode in lookups) {
                <div class="@panelType"><label><input type="@panelType" name="@fieldID" value="@luCode.Value" class="filterOption" />@luCode.Label</label></div>
            }
        </div>
    </div>
</div>
}
